img{
    border-radius: 50%;
}
body{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 21px;
    margin: 0;
}
.Wrapping content{
    text-align: center;
}
header{
    background-color: #D7D7D7;
    padding: 100px;
}
section.About-me{
    background-color: #FFEAEA;
    padding: 100px;
}
section.Article{
    background-color: #EAF9FF;
    padding: 100px;
}


h1{
    font-size: 60px;
    font-weight: 400;
}
h2{
    font-size: 60px;
    font-weight: 400;
}
p{
    font-size: small;
}
a{
    color: #99D930;
}
a:hover{
    color: #131313;
}
h1 span{
    display: block; 
    font-weight: 900;
}
h2 span{
    display: block; 
    font-weight: 900;
}